.wrapper{
  display: grid;
  
  
}
.box-1{
color: white;
}

body{
  background-color:#0eccd8;
}
.box-2{

}

ul li{
  display: inline;
  text-decoration:none;
    padding: 5px 20px;

}

ul{
  float: right;
  margin-top: 25px;
}
ul li a{
    text-decoration: solid;
    color: whitesmoke;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}
.text-logo{
color: white;
padding-left:  100px;
padding: 50px;
}

 


/* Footer */
.footer {
  background: #f5f8fc;
  color: black;
  height: 300px;
  bottom: 0px;
  position: relative;
}

.style{
  background: #f5f8fc;
  height: 580px;
}

.logo-text{
  color: black;
}

a{
  text-decoration: none;
  color: #666;
}

a:hover{
  border-bottom: 1px solid #666;
  color: #666;
}

.footer .footer-content{
   border: 1px;
   height: 350px;
   display: flex;
}

.footer .footer-content .footer-section{
  flex: 1;
  padding: 25px;
  border: 1px;
}

.footer .footer-content h1{
  color: black;
}

.row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}



.color{
  color: #666;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 14px;
}

.margin{
  margin-bottom: 1px;
  color: #666;
  font-weight: 700;
  font-size: 14px;
}

.gap{
  padding: 0px;
  list-style: none;
}

.row ul li{
  list-style: none;
  color: #666;
  line-height: 2em;
}

.two{
  padding-top: 10px;
}

.position{
  position: relative;
  list-style: none;
  padding-top: 5px;
}

.textcolor{
  color: #666;
}


.social-icons{
  text-align: right;
  position: absolute;
  bottom: -132px;
  right: 15px;
  padding-bottom: 200px;

}

.social-icons i{
  font-size: 20px;
  line-height: 30px;
  color: white;
  font-weight: normal;
  box-sizing: border-box;
  background-color: #666;
  border-radius: 50%;
}


.icon{
  width: 40px;
  margin: 12px 12px;
  color: white;
  text-align: right;
}


.box1{
  color: #666;
}


.box2 i{
  text-align: right;
  border-radius: 50%;
  background-color: #666;
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
}




.footer .footer-bottom{
  background: #f5f8fc;
  color:#666;
  height: 90px;
  position: relative;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
  border-top: 1px solid #cccbcb;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.box1{
  grid-column: 1/5;
  grid-row: 1;
}
